In [12]:
%run ../__init__.py

In [2]:
targets

['Function',
 'Use',
 'Sharing',
 'Reporting',
 'Student_Type',
 'Position_Type',
 'Object_Type',
 'Pre_K',
 'Operating_Status']

In [3]:
budget_test = pd.read_csv('../data/budget_test.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
budget_test.head()

,Unnamed: 0,Object_Description,Program_Description,SubFund_Description,Job_Title_Description,Facility_or_Department,Sub_Object_Description,Location_Description,FTE,Function_Description,Position_Extra,Text_4,Total,Text_2,Text_3,Fund_Description,Text_1
0,180042,Student Meals/Room/Other,Basic Educational Services,NaN,NaN,NaN,Line Item that is paid with Campus' money,School,NaN,Instruction,NaN,NaN,3999.910000,NaN,NaN,General Fund,NaN
1,28872,Extra Duty/Signing Bonus Pay,Undistributed,NaN,CHEERLEADER DIR,NaN,General,School,NaN,Cocurricular & Extra Curricular Activities,NaN,NaN,3447.320213,NaN,NaN,General Fund,NaN
2,186915,Professional Salaries,Bilingual Education,NaN,T-EL 1ST BIL,NaN,General,School,1.0,Instruction,NaN,NaN,52738.780869,NaN,NaN,General Fund,NaN
3,412396,Professional Salaries,Bilingual Education,NaN,T-EL 2ND BIL,NaN,General,School,1.0,Instruction,NaN,NaN,69729.263191,NaN,NaN,General Fund,NaN
4,427740,Salaries for Support Personnel,Undistributed,NaN,CLERK III- SCH,NaN,General,School,1.0,School Leadership,NaN,NaN,29492.834215,NaN,NaN,General Fund,NaN

In [5]:
Function = pd.read_pickle('../ipynb/func.pkl')
Use = pd.read_pickle('../ipynb/use.pkl')
Sharing = pd.read_pickle('../ipynb/Sharing.pkl')
Reporting = pd.read_pickle('../ipynb/Reporting.pkl')
Student_Type = pd.read_pickle('../ipynb/Student_Type.pkl')
Position_Type = pd.read_pickle('../ipynb/Position_Type.pkl')
Object_Type = pd.read_pickle('../ipynb/Object_Type.pkl')
Pre_K = pd.read_pickle('../ipynb/pre_k.pkl')
Operating_Status = pd.read_pickle('../ipynb/op_stat.pkl')

In [6]:
results = pd.concat([budget_test, Function, Object_Type, Operating_Status, Position_Type, Pre_K, Reporting,\
                     Sharing, Student_Type, Use], axis = 1)

In [7]:
results.shape

(50064, 121)

In [8]:
results = results.drop(predictors, axis=1)

In [9]:
results.shape

(50064, 105)

In [10]:
results.head()

,Unnamed: 0,Function__Aides Compensation,Function__Career & Academic Counseling,Function__Communications,Function__Curriculum Development,Function__Data Processing & Information Services,Function__Development & Fundraising,Function__Enrichment,Function__Extended Time & Tutoring,Function__Facilities & Maintenance,...,Student_Type__Special Education,Student_Type__Unspecified,Use__Business Services,Use__ISPD,Use__Instruction,Use__Leadership,Use__NO_LABEL,Use__O&M,Use__Pupil Services & Enrichment,Use__Untracked Budget Set-Aside
0,180042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,...,0.0,0.900000,0.0,0.0,0.000000,0.0,0.050000,0.95,0.0,0.000000
1,28872,0.1,0.0,0.0,0.0,0.1,0.0,0.0,0.0,0.2,...,0.0,1.000000,0.0,0.0,0.000000,0.0,0.100000,0.40,0.5,0.000000
2,186915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.800000,0.0,0.0,0.933949,0.0,0.052258,0.00,0.0,0.013793
3,412396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.800000,0.0,0.0,0.933949,0.0,0.052258,0.00,0.0,0.013793
4,427740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.999569,0.0,0.0,0.000000,1.0,0.000000,0.00,0.0,0.000000

In [11]:
results.to_csv('submission6.csv')

In [17]:
result1 = pd.read_pickle('../ipynb/models/baseline_results.pkl')
result2 = pd.read_pickle('../ipynb/models/lrc_results.pkl')
result3 = pd.read_pickle('../ipynb/models/xgb_results.pkl')
result4 = pd.read_pickle('../ipynb/models/blended_scores.pkl')

In [19]:
results = pd.concat([result1,result2, result3, result4], axis=1)

In [21]:
results.to_csv('all_results.csv')